<form class="log-in-form">
  <h4 class="text-center">Log in to your account</h4>
  <label>Username
    <input type="username" placeholder="Username">
  </label>
  <label>Password
    <input type="password" placeholder="Password">
  </label>
  <p><input type="submit" class="button expanded" value="Log in"></input></p>
</form>
