
<div class='login-page'>
  <div class='form'>
    <div class='log-in-form'>
      <h2>Edit your pofile</h2>
        <% @button_text = "Update my Account" %>
        <%= render partial: "form" %>
    </div>
  </div>
</div>
