<<<<<<< HEAD
  <h1>Welcome, <%= current_user.username %>!</h1>
=======
<h1>Logged in as <%= current_user.username %></h1>
<p>Orders</p>
<p>Full Name</p>
<p>Shipping Address</p>
<p>Email</p>
>>>>>>> 003177829251f94f8cb74b022499d7889fd6c537
