<table class="cart-contents">
    <th>Knit</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
    <th></th>
<%@orders.each do |order| %>
<% order.items.each do |item|%>
  <tr>
    <td  ><%= item.title %></td>
    <td class="cart-item-price"><%= item.price %></td>
    <td  class="cart-item-quantity"><%= item.order_items.find_by(order_id: order.id).quantity %></td>
    <td  class="cart-item-quantity"><%= item.order_items.find_by(order_id: order.id).quantity * item.price %></td>
    <% end %>
  </tr>
<% end %>
</table>
