<div class="shopping-cart">
  <h2>Shopping Cart</h2>
  <% if !@cart.contents.empty? %>
    <%= render partial: "contents" %>
  <% else %>
    <p>Your cart is currently Empty</p>
    <p>Continue Shopping <%= link_to "here", items_path %></p>
  <% end %>
</div>
