

<ul class="breadcrumb-counter-nav">
  <li class="breadcrumb-counter-nav-item"><a href="#">Home</a></li>
  <li class="breadcrumb-counter-nav-item"><a href="#">Knits</a></li>
  <li class="breadcrumb-counter-nav-item"><a href="#">Categories</a></li>
  <li class="breadcrumb-counter-nav-item"><i class="fa fa-cart-arrow-down fa-1x" aria-hidden="true"> </i><li>
</ul>
<% @items.each do |item| %>
<%= item.title %>
<%= item.price %>
<% end %>
