<h1>Admin Analytics Dashboard</h1>
<p>User with the most orders: <%= @user_orders %></p>
<p>Category with highest price item:
  <%= @category_with_highest_price.name.capitalize if !@category_with_highest_price.nil?%></p>
