<h1>Admin Analytics Dashboard</h1>
<p>User with the most orders: <%= @user_orders %></p>
<p>Category with highest price item:
  <%if !@categories_with_highest_price.nil? %>
      <%= @categories_with_highest_price.first.name.capitalize %>
  <% end %>
</p>
