@import "partials/base";
@import "partials/page";
@import "partials/product";
@import "partials/menu";
@import "partials/mobile";
@import "partials/cart";
@import "partials/application";
@import "partials/button";
@import "partials/order";
@import "partials/dashboards"
