<footer class="footer">
  <div class="footer-profile max">
    <h3>Max Stackhouse</h3>
    <a href="https://github.com/Maxscores" id="max-github" class="social-links"><i class="fa fa-github" aria-hidden="true"></i></a>
  </div>
  <div class="footer-profile zach">
    <h3>Zach Landes</h3>
    <a href="https://github.com/zacharylandes" id="zach-github" class="social-links"><i class="fa fa-github" aria-hidden="true"></i></a>
  </div>
  <div class="footer-profile katy">
    <h3>Katy Welyczko</h3>
    <a href="https://github.com/katyjane8" id="katy-github" class="social-links"><i class="fa fa-github" aria-hidden="true"></i></a>
  </div>
</footer>
