<footer class="footer">
  <div class="footer-profile">
    <h3>Max Stackhouse</h3>
    <button><a href="https://github.com/Maxscores"><i class="fa fa-github" aria-hidden="true"></i></a></button>
    <button><a href = "https://www.linkedin.com/in/maxfieldstackhouse/"><i class="fa fa-linkedin" aria-hidden="true"></i><a/></button>
  </div>
  <div class="footer-profile">
    <h3>Zach Landes</h3>
    <button><a href="https://github.com/zacharylandes"><i class="fa fa-github" aria-hidden="true"></i></a></button>
    <button><a href = "www.facebook.com/lachzandes"><i class="fa fa-facebook" aria-hidden="true"></i></a></button>
  </div>
  <div class="footer-profile">
    <h3>Katy Welyczko</h3>
    <button><a href="https://github.com/katyjane8"><i class="fa fa-github" aria-hidden="true"></i></a></button>
  </div>
</footer>


<!-- <footer class="mobile-app-icon-bar">
  <button><a href = ""><i class="fa fa-twitter" aria-hidden="true"></i></button>
  <button><i class="fa fa-github" aria-hidden="true"></i></button>
  <button><a href = "www.facebook.com/lachzandes"><i class="fa fa-facebook" aria-hidden="true"></i></a></button>
  <button><i class="fa fa-linkedin" aria-hidden="true"></i></button>
</footer> -->
